.ant-input-affix-wrapper-lg , .ant-picker, .ant-select-selection-item,.ant-select.ant-select-single.ant-select-show-arrow.ant-select-show-search{
    margin: 10px ;
}

#payed{
    width: '200px';margin: '3px';padding: '19px';
}