.Home {
  display: grid;
  grid-template-columns: 20% 80% 0%;
  min-height: 100vh;
}

.leftside{
  background-color: blue;
}

.leftside > div >  button {
  width: 80%;
  padding: 35px !important;
  margin: 25px !important;
}

.Avatar{
  margin: 0 auto !important;
  margin-top: 25px !important;
  min-width: 200px;
  min-height: 200px;
}


.form{
  width: 60%;
  margin: 0 auto ;
}